html{
  scroll-behavior: smooth
}
body {
  font-family: "museo-sans", sans-serif;
}
a{
  color: inherit;
  text-decoration: none;
  font-size: 0.75em
}
p{
  font-size: 0.75em
}
a:hover{
  color: lightgrey;
}
.parallax1 {
  /* The image used */
  background-image: url("media/arch.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("media/code-shot.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  /* The image used */
  background-image: url("media/nice_building.png");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome{
  height: 700px;
  width: 100%;
  /* border: 1px black;
  padding:10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  background-color: white;
   /* background-image: url('media/arch.jpg');
   background-attachment: fixed; */
  font-size: 3em;
  animation: fadein 5s;
 }
 @keyframes fadein {
     from { opacity: 0; }
     to   { opacity: 1; }
 }
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.page{
  /* height: 1000px; */
  /* background-color: white; */
  font-size: 2.5em;
  font-size: 3vw;
  /* text-align: center; */
}
.arrowup{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.website{
  color: black
}

.title{
  text-align: center;
}
/* #about-me.page{

} */
#coding.page{
  height: 900px;
}
#contact.page{
  height: 100px;
}

#other-work.page{
  height: 500px;
}

#menu{
  position: fixed;
}

#mepic{
  height: 336px;
  width: 252px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#about-me{
  height: 800px
}
#links{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  font-size: 1em
}
#contact-info{
  font-size: 0.5em;
  text-align: center;
}
#sketch-holder{
    display:flex;
    flex-direction: column;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1021px) {
    .page {font-size: 4vw;}
    .parallax1{
      /* The image used */
      background-image: url("media/arch.jpg");

      /* Set a specific height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      /* background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
    }
    .parallax2{
      /* The image used */
      background-image: url("media/code-shot.png");

      /* Set a specific height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      /* background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
    }
    .parallax3{
      /* The image used */
      background-image: url("media/nice_building.png");

      /* Set a specific height */
      min-height: 500px;

      /* Create the parallax scrolling effect */
      /* background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; */
    }
}
